:root {
  --gold: hsl(24, 56%, 63%);
  --almost-black: hsl(0, 0%, 8%);
  --dark-grey: hsl(0, 0%, 27%);
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: var(--dark-grey);
  background-color: white;
}

address {
  font-style: inherit;
}

img {
  font-style: italic;
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  user-select: none;
}

picture {
  display: block;
}

img,
picture {
  pointer-events: none;
  user-select: none;
}

[class^=heading],
.button {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
}

[class^=heading] {
  font-weight: 900;
  color: var(--almost-black);
}

.logo {
  text-wrap: nowrap;
}

.heading-xl {
  font-size: 3.75rem;
  line-height: 0.9166666667;
}

.heading-l,
.heading-m {
  font-size: 3.125rem;
  line-height: 0.9;
}

.heading-s {
  font-size: 2rem;
  line-height: 1;
}

.body-s {
  font-size: 1rem;
  line-height: 1.625;
}

.button {
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.2275rem;
  text-decoration: none;
  padding-inline-start: 2rem;
  padding-inline-end: 2.1875rem;
  padding-block: 1.5rem;
  color: white;
  background-color: var(--almost-black);
}
.button:active {
  background-color: var(--gold);
  transition: all 100ms ease;
}
.button.previous {
  inset-inline-start: 3.5rem;
}
.button.previous::after, .button.next::after {
  content: "";
  display: block;
  position: absolute;
  block-size: 100%;
  inline-size: 3.5rem;
  background-color: var(--gold);
  inset-block-start: 0;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: center;
  transition: all 250ms ease;
}
.button.previous::after {
  inset-inline-start: -3.5rem;
  background-image: url("../assets/icon-arrow-left.svg");
}
.button.next::after {
  inset-inline-end: -3.5rem;
  background-image: url("../assets/icon-arrow-right.svg");
}
.button:hover.previous::after {
  background-position: 25% center;
}
.button:hover.next::after {
  background-position: right 25% center;
}
.button:active.previous::after, .button:active.next::after {
  background-color: var(--almost-black);
}

footer {
  padding-inline: 2rem;
  padding-block: 3rem;
  color: white;
  background-color: var(--almost-black);
}
footer > * + * {
  margin-block-start: 2.375rem;
}
footer .logo {
  color: white;
}

nav ul {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
}

@media (width >= 48rem) {
  body {
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }
  .heading-xl {
    font-size: 4.375rem;
  }
  .heading-l {
    font-size: 3.4375rem;
    line-height: 1;
  }
  .heading-m {
    font-size: 3.125rem;
    line-height: 0.9;
  }
  .heading-s {
    font-size: 2rem;
  }
  .body-s {
    font-size: 1rem;
    line-height: 1.625;
  }
  footer {
    display: flex;
    padding-inline: 2.5rem;
    padding-block: 3.5rem;
  }
  footer > * + * {
    margin-block-start: unset;
  }
  footer p {
    margin-inline-start: 4.0625rem;
  }
  footer nav {
    margin-inline-start: 8.3125rem;
  }
}
@media (width >= 90rem) {
  body {
    font-size: 1.375rem;
    line-height: 1.4545454545;
  }
  .heading-xl {
    font-size: 6rem;
  }
  .heading-l {
    font-size: 4.375rem;
    line-height: 1;
  }
  .heading-m {
    font-size: 3.75rem;
    line-height: 1;
  }
  .heading-s {
    font-size: 2.25rem;
  }
  .body-s {
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }
  footer {
    padding-inline: 10.25rem;
    padding-block: 5rem;
  }
  footer p {
    margin-inline-start: 8.75rem;
  }
  footer nav {
    margin-inline-start: 17.5rem;
  }
}

/*# sourceMappingURL=base.css.map */
